a {
  color: blue;
}

strong {
  font-weight: 600;
}

.rdw-editor-toolbar {
  border: none;
  padding: 0;
}

.rdw-editor-wrapper {
  min-height: 330px;
}

.rdw-editor-main {
  min-height: 260px;
}

.public-DraftEditor-content span {
  color: inherit;
  font-weight: inherit;
}

.editor__content .ProseMirror {
  min-height: 100px;
}

.editor__content code {
  color: white;
}
