.asdh2jj {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
/* .dropdown { */
/*   position: absolute; */
/*   margin-top: 36px; */
/*   background: white; */
/*   padding: 16px 12px; */
/*   border-radius: 4px; */
/*   max-width: 233px; */
/*   top: 36px; */
/*   border: 1px solid black; */
/* } */
.dzu-previewImage {
  max-height: 360px;
}

/* .btn-br { */
/*   border: 1px solid rgba(0, 0, 0, 0.5); */
/* } */

/* .btn-br:hover { */
/*   border: 1px solid black; */
/*   cursor: pointer; */
/* } */

/* filter: invert(35%); */
/* transition: filter 0.2s ease-out; */
.logo:hover {
  cursor: pointer !important;
}
/* .page-read-book .read-book-main img { */
/*   max-width: 250px; */
/* } */

.comment-footer__container {
  font-size: 17px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.comment-footer__controls {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.comment-footer__reply-button {
  -webkit-box-direction: normal;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.5);
  fill: rgba(0, 0, 0, 0.5);
  transition: color 0.1s ease-out, fill 0.1s ease-out;
  margin: 0;
  border: 0;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 8px;
  margin-left: -8px;
}
.comment-footer__controls-likes {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.comment-like__wrapper {
  position: relative;
}
.comment-likes-info__wrapper {
  position: relative;
}
.comment-like__wrapper {
  position: relative;
}
.comment-context-menu__container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.comment-context-menu__button {
  -webkit-box-direction: normal;
  background-color: transparent;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  border: 0;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  padding: 5px 0;
  height: 28px;
  width: 18px;
  box-sizing: border-box;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.4);
  fill: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
.comment-like__button {
  padding: 0px;
  width: min-content;
  height: min-content;
  min-width: min-content;
  min-height: min-content;
  margin-right: 8px;
}
.comment-footer__container {
  margin-top: 12px;
}
.comment-like__button._active .comment-like__icon {
  fill: #4375fc;
}

.inpuut {
  margin-bottom: 48px;
  height: 46px;
  border-radius: 24px;
  padding: 12px 16px 10px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}

.comment-item:hover .comment-context-menu__button {
  opacity: 0.85;
}

.comment-context-menu__button:hover {
  color: #4375fc;
  opacity: 1;
}

.comment-context-menu__icon:hover,
.comment-context-menu__icon:active {
  fill: #4375fc;
}

.zen-ui-context-menu__item-icon-container {
  margin: 0;
  margin-left: -12px;
}

.react-rating.nopointer,
.react-rating.nopointer > span {
  cursor: default !important;
}

.react-rating.rr6l > span {
  margin-left: 6px;
}

.react-rating.rr4r > span {
  margin-right: 4px;
}

.rating .icon {
  margin: 0px;
}

.gnc-notifications-item__inner {
  padding: 16px;
}
.gnc-notifications-item-wrapper_not-viewed
  .gnc-notifications-item-wrapper__inner {
  background: hsla(0, 0%, 97%, 1);
}

.gnc-notification-message {
  line-height: 21px;
  margin-top: 4px;
}

.gnc-notifications-item-wrapper {
  padding-right: 12px;
}

/* .avatars { */
/*   display: inline-flex; */
/*   flex-direction: row-reverse; */
/* } */

/* .avatar { */
/*   position: relative; */
/*   border: 2px solid #fff; */
/*   border-radius: 50%; */
/*   overflow: hidden; */
/*   width: 26px; */
/*   height: 26px; */
/* } */

/* .avatar:not(:last-child) { */
/*   margin-left: -8px; */
/* } */

/* .avatar img { */
/*   width: 100%; */
/*   display: block; */
/* } */

.announcement {
  height: 52px;
  padding-left: 30px;
  border-bottom: 1px solid #ebeaeb;
  background: #fff;
}

.announcement .badge {
  position: relative;
  padding: 6px 16px;
  border-radius: 100px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-right: 8px;
}

.announcement .badge-bg {
  background-color: #7057d2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  opacity: 0.1;
}

.announcement .badge-text {
  color: #7057d2;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

/* .read-book-main img { */
/*   max-width: 250px !important; */
/* } */

/* .popup2 { */
/*   border: 1px solid #ebeaeb; */
/*   border-radius: 3px; */
/*   background: white; */
/* } */

.user-block .dzu-previewImage {
  width: 40px;
  height: 40px;
}
.comment-like__button._active .comment-like__icon {
  fill: #4375fc;
}
.comment-like__button:active {
  color: #000;
  fill: #000;
}
.comment-like__button {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  outline: none;
}
.comment-like__button {
  font-size: 14px;
  line-height: 16px;
}
.comment-like__tooltip-trigger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.comment-like__button {
  margin: 0 4px;
  position: relative;
  min-height: 28px;
  min-width: 34px;
  vertical-align: top;
  box-sizing: border-box;
  padding: 5px 8px;
  color: rgba(0, 0, 0, 0.4);
  fill: rgba(0, 0, 0, 0.4);
}
.comment-like__button._tight {
  margin: 0;
  min-width: 26px;
  padding: 5px 4px;
}
.comment-like__button._active .comment-like__icon {
  fill: #4275f8;
}
.comment-like__button._active._new .comment-like__icon {
  fill: #00c000;
}
.comment-like__button._active._new._is-dislike .comment-like__icon {
  fill: #f00;
}
.comment-like__button._active:hover._new .comment-like__icon {
  fill: #00a300;
}
.comment-like__button._active:hover._new._is-dislike .comment-like__icon {
  fill: #d10000;
}
.comment-like__button:active .comment-like__icon {
  fill: #3258d7;
}
.comment-like__button:active._new .comment-like__icon {
  fill: #008f00;
}
.comment-like__button:active._new._is-dislike .comment-like__icon {
  fill: #bd0000;
}
.comment-like__button._new {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.comment-like__button._new._is-dislike {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
.comment-like__icon {
  left: 8px;
  top: 5px;
  width: 18px;
  height: 18px;
}
.comment-like__icon._tight {
  left: 4px;
}

.medium-editor-placeholder:after {
  font-style: inherit !important;
}

.ravatars {
  display: inline-flex;
  flex-direction: row-reverse;
}

.ravatar {
  position: relative;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 26px;
  height: 26px;
}

.ravatar:not(:last-child) {
  margin-left: -8px;
}

.ravatar img {
  width: 100%;
  display: block;
}

.invite-link {
  text-align: center;
  margin-top: 30px;
  padding-left: 10px;
  color: #7057d2;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

/* .page-read-book .read-book-text .container .text p { */
/*   font-size: 18px; */
/*   min-height: 26px; */
/*   margin-bottom: 20px !important; */
/* } */

.page-read-book .read-book-text .container .text * {
  font-size: inherit;
}

.page-read-book .pagination {
  margin-top: 28px;
}

.page-read-bookk .header {
  position: initial;
}

.comments .comment-text P {
  font-size: 16px;
  line-height: 180%;
}

.read-book-text .text img {
  margin: 0 auto;
  display: flex;
}

.follow-updates-card__text {
  font-size: 15px !important;
  line-height: 160% !important;
  color: rgb(4, 0, 39) !important;
}

.follow-updates-card__text > p {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin-bottom: 8px;
}

.follow-updates-card__text * {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

/* #root { */
/*   padding-bottom: 150px; */
/* } */

.col-content,
.page-home,
.page-read-bookk,
.page-profile-add-series {
  padding-bottom: 120px;
}

.font-inherit {
  font-size: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
}

.suggestion-list {
  z-index: 2;
  position: absolute;
  background: white;
}

.suggestion-list__item {
  font-size: 16px;
  font-weight: 500;
}

.comments-input .menubar {
  display: none;
}

.page-books-follows .latest .item .item-category li {
  margin-bottom: 4px;
}

.comment-text {
  line-height: 150%;
}

.page-follow .follow-updates-comments__text {
  font-size: 15px;
  color: #57586c;
  line-height: 160%;
}

.page-read-book .read-book-main img {
  height: 250px;
  object-fit: cover;
  object-position: center center;
  border-radius: 6px;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

.page-read-book .read-book-text .container .text img {
  max-width: 100%;
}

.icon.icon-rating.empty.filled {
  fill: #f0ba03;
}

.icon.icon-rating.empty {
  fill: #95959d !important;
}
