.zen-ui-context-menu,
.zen-ui-context-menu__item {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.zen-ui-context-menu {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  max-width: 250px;
  display: inline-block;
  padding: 8px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 4px;
}
.zen-ui-context-menu__item {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  min-height: 38px;
  padding: 10px 24px 10px 10px;
  border-radius: 3px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  transition: background-color 0.1s ease-out;
  -webkit-tap-highlight-color: transparent;
}
.zen-ui-context-menu__item:hover {
  background-color: #f3f1ed;
}
.zen-ui-context-menu__item._align-items_start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.zen-ui-context-menu__item._align-items_start
  .zen-ui-context-menu__item-text-container {
  padding-top: 2px;
}
._is-mobile-menu .zen-ui-context-menu__item {
  min-height: 48px;
  border-radius: 8px;
  padding: 0;
}
.zen-ui-context-menu__item-icon-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 0 0 38px;
  flex: 0 0 38px;
  width: 38px;
  max-height: 14px;
  margin-bottom: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-left: -10px;
}
._is-mobile-menu .zen-ui-context-menu__item-icon-container {
  -webkit-flex: 0 0 28px;
  flex: 0 0 28px;
  width: 28px;
  height: 48px;
  max-height: 48px;
  margin: 0 12px;
}
.zen-ui-context-menu__item-icon {
  width: 18px;
  height: 18px;
  background-position: 50%;
  background-repeat: no-repeat;
}
.zen-ui-context-menu__item-text-container {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
}
._is-mobile-menu .zen-ui-context-menu__item-text-container {
  padding: 14px 24px 14px 0;
}
.zen-ui-context-menu__item-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: normal;
  color: #000;
}
.zen-ui-context-menu__item-text._is-no-wrap {
  white-space: nowrap;
}
._is-mobile-menu .zen-ui-context-menu__item-text {
  font-size: 16px;
  line-height: 20px;
}
.zen-ui-context-menu__item-description {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
  color: #000;
  margin-top: 4px;
  display: block;
}
.zen-ui-context-menu__divider {
  margin: 8px -10px;
  height: 1px;
  opacity: 0.1;
  background: #000;
  border: none;
}
.zen-ui-context-menu__popup._transition-enter {
  opacity: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.zen-ui-context-menu__popup._transition-enter._transition-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out,
    -webkit-transform 0.1s ease-out;
  pointer-events: none;
}
.zen-ui-context-menu__popup._transition-leave {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.zen-ui-context-menu__popup._transition-leave._transition-leave-active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out,
    -webkit-transform 0.1s ease-out;
  pointer-events: none;
}
.zen-ui-context-menu__bullet-container {
  height: 14px;
  -webkit-flex: 0 0 22px;
  flex: 0 0 22px;
  width: 22px;
  -webkit-justify-content: left;
  justify-content: left;
  padding-left: 6px;
  box-sizing: border-box;
}
.zen-ui-context-menu__bullet {
  width: 6px;
  height: 6px;
  background-color: #07f;
  border-radius: 50%;
}
